@import "tailwindcss";

@theme {
  --color-surface-0: 
  --color-surface-50: var(--color-slate-50);
  --color-surface-100: var(--color-slate-100);
  --color-surface-200: var(--color-slate-200);
  --color-surface-300: var(--color-slate-300);
  --color-surface-400: var(--color-slate-400);
  --color-surface-500: var(--color-slate-500);
  --color-surface-600: var(--color-slate-600);
  --color-surface-700: var(--color-slate-700);
  --color-surface-800: var(--color-slate-800);
  --color-surface-900: var(--color-slate-900);

  --color-brand-50: var(--color-orange-50);
  --color-brand-100: var(--color-orange-100);
  --color-brand-200: var(--color-orange-200);
  --color-brand-300: var(--color-orange-300);
  --color-brand-400: var(--color-orange-400);
  --color-brand-500: var(--color-orange-500);
  --color-brand-600: var(--color-orange-600);
  --color-brand-700: var(--color-orange-700);
  --color-brand-800: var(--color-orange-800);
  --color-brand-900: var(--color-orange-900);

  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);

  --color-warm-50: var(--color-amber-50);
  --color-warm-100: var(--color-amber-100);
  --color-warm-200: var(--color-amber-200);
  --color-warm-300: var(--color-amber-300);
  --color-warm-400: var(--color-amber-400);
  --color-warm-500: var(--color-amber-500);
  --color-warm-600: var(--color-amber-600);
  --color-warm-700: var(--color-amber-700);
  --color-warm-800: var(--color-amber-800);
  --color-warm-900: var(--color-amber-900);
}

